* {
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

li {
  margin-right: 5%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin-top: 5vh;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 20%;
}

.button {
  display: inline-block;
  background-color: #3ddc84;
  border-radius: 50px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;

  margin-top: 20%;
}

h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
}
